.agent {
   &__grid {
      margin-bottom: 120px;

      .card-agent {
         &:hover {
            border: 1px solid $secondary;
            .social {
               .icon {
                  &:hover {
                     fill: $secondary;
                  }
               }
            }
         }

         &__name {
            &:hover {
               color: $secondary;
            }
         }
      }
   }
}

.grid {
   &__wrapper {
      margin-bottom: 60px;
      margin-top: -20px;
   }
}

.grid__wrapper > * {
   margin-top: 20px;
} 

.card-pagination {
   margin-right: auto;
   margin-left: auto;
}