

.footer {
   padding-top: 100px;
   &__top {
      padding-bottom: 108px;
      border-bottom: 1px solid #33628D;

   }
   &__bottom {
      padding: 30px 0;
      text-align: center;
      color: #D5E0EA;
   }

   &__logo {
      color: #fff;
      fill: #fff;
      transition: all 0.2s ease-in-out;

      &:hover {
         filter: drop-shadow(5px 5px 3px $heading);
      }
   }

   .columns {
      color: #D5E0EA;
      margin-bottom: 32px;
      &:last-child {
         margin-bottom: 0;
      }
      &__title {
         font-weight: 500;
         font-size: 24px;
         line-height: 32px;
         color: #fff;

         margin-bottom: 30px;
      }

      &__wrapper {
         display: flex;
         gap: 20px;
      }

      &__block {
         display: flex;
         flex-wrap: wrap;
         padding-left: -8px;
         padding-right: -8px;
         padding-bottom: -16px;
      }

      &__item {
         margin-bottom: 16px;
         img {
            width: 100%;
            height: 100%;
            object-fit: cover;
         }
      }

      @media screen and (min-width:768px) {
         
      }

      @media screen and (min-width:1200px) {
         
      }
   }

   .footer-nav-list {
      flex: 1 1 50%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      padding-left: 15px;

      &:first-child {
         padding: 0;
      }

      &__link {
         font-weight: 400;
         font-size: 18px;
         line-height: 40px;
         color: inherit;
         &:hover {
            text-decoration: underline;
         }
      }
   }




   &__text {
      font-weight: 400;
      font-size: 18px;
      line-height: 30px;
      margin-bottom: 24px;
   }

   &__business {
      display: block;

      font-weight: 500;
      font-size: 20px;
      line-height: 30px;
      margin-bottom: 8px;
   }

   &__logo {
     margin-bottom: 32px;
      
     .icon {
        width: 148px;
        height: 40px;
        fill: #fff;
     }
   }

   @media screen and (min-width: 1200px) {
      padding-top: 70px;
   } 

   @media screen and (min-width: 768px) {
      padding-top: 30px;
   } 
}