.main {
   &__property {
      margin-bottom: 120px;
   }
}

.property {
   background-color: $main-bg;
   text-align: center;

   &__card {
      margin-bottom: 20px;
   }

   .card-house {
      transition: all 0.2s ease-in-out;

      &:hover {
         box-shadow: 1px 1px 10px $text-second;
         img {
            transform: scale(1.1);
         }
      }
   }

   .link {
      &--geo {
         text-align: center;
      }
   }
}